body {
    font-family: 'Inter', sans-serif;
}

#randomMichis {
    display: flex;
    flex-direction: column ;
}

#randomMichis article {
    display: flex;
    flex-direction: column ;
}

#randomMichis article img {
    width: 100px;
}